<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if not user.is_authenticated %}
<p>로그인을 먼저 해주세요.</p>
<div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit">
        </form>
    </div>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="submit">{{ group.group_name }}에 가입하기</input>
</form>

</body>
</html>